<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">武将連想</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
      		<li><%= link_to search_index_path do %>
					<i class="far fa-comments"></i>連想語検索
					<% end %></li>
      		<li><%= link_to bushous_path do %>
					<span class="icon-japan-kabuto"></span>武将一覧
					<% end %></li>
    		<% if twitterer_logged_in? %>
    			<li class="dropdown">
      			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-id-card"></i><span class="caret"></span></a>
      			<ul class="dropdown-menu">
    					<li><%= link_to new_bushou_path do %>
								<span class="small glyphicon glyphicon-asterisk"></span>新規武将登録
							<% end %></li>
      				<li><%= link_to logout_path do %>
								<i class="fab fa-twitter"></i>ログアウト
							<% end %></li>
      			</ul>
    			</li>
					<li><img class="media-object img-rounded img-responsive" src="<%= current_twitterer.image_url %>" alt="">
					</li>
				<% else %>
					<li><%= link_to '/auth/twitter/' do %><i class="fab fa-twitter"></i>ログイン<% end %></li>
				<% end %>	
        </ul>
      </div>
    </div>
  </nav>
</header>
